<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grocery list</title>
</head>
<body>
	<!-- React requires that you must have a mounting location for the react component. -->
	<div id="app"></div>
</body>
<script type="text/javascript" src="app.js"></script>
</html>